<?xml version="1.0" encoding="UTF-8"?>

<!--
WiX Toolset Pills 15mg
Copyright (C) 2019-2021 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Bundle
        Name="Bundle with MSI - WiX Toolset Pill"
        Version="1.0.0.0"
        Manufacturer="Dust in the Wind"
        UpgradeCode="eef1a17e-e0ed-432c-b45b-6f5510e8ecb4">

        <!--
        The bootstrapper application is the one that runs the whole bundle. It may also provide a GUI.
        The one used in this demo (provided out of the box by WiX Toolset) displays a GUI with a single page
        containing a dummy license agreement.
        -->
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />


        <!--
        Add each MSI package in the desired order of execution.
        -->
        <Chain>
            <MsiPackage SourceFile="$(var.Installer1.TargetDir)$(var.Installer1.TargetName).msi" />
            <MsiPackage SourceFile="$(var.Installer2.TargetDir)$(var.Installer2.TargetName).msi" />
        </Chain>

    </Bundle>

</Wix>